body{
    text-align:center;
    overflow: scroll;
}
div#top{
    position: relative;
    display: block;
    width: 1440px;
    height: 460px;
    marign: 0 auto;
}
div#top img.top_background{
    position: relative;
    display: block;
    width: 1440px;
    height: 460px;
    marign: 0;
}