/*reset of the css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
/*end of the reset*/

body{
    text-align:center;
    overflow: scroll;
}
div#top_picture{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 1440px;
    height: 400px;
    text-align:center;
    background-image: url("passedEvents.png");
}
div.content{
    position: relative;
    width: 1104px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #faac46;*/
    overflow-y: hidden;
}
img.title{
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
}
div.picture_group{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    /*background-color: aqua;*/
    width: 960px;
}

/* set up for the pictures inside the images group*/
div.picture_group>img.picture:hover{
    cursor: pointer;
}
div.picture_group>img.picture:first-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 400px;
    margin: 0;
    overflow: visible;
}
div.picture_group>img.picture:nth-child(2){
    position: absolute;
    top: 0;
    left: 640px;
    width: 320px;
    height: 200px;
    margin: 0;
}
div.picture_group>img.picture:nth-child(3){
    position: absolute;
    top: 200px;
    left: 640px;
    width: 320px;
    height: 200px;
    margin: 0;
}
div.picture_group>img.picture:nth-child(4){
    position: absolute;
    top: 400px;
    left: 0;
    width: 320px;
    height: 200px;
    margin: 0;
}
div.picture_group>img.picture:nth-child(5){
    position: absolute;
    top: 400px;
    left: 320px;
    width: 320px;
    height: 200px;
    margin: 0;
}
div.picture_group>img.picture:nth-child(6){
    position: absolute;
    top: 400px;
    left: 640px;
    width: 320px;
    height: 200px;
    margin: 0;
}
/* end of set up */

/* to set up the layout of the showup area */
div.showup_area{
    width: 1380px;
    height:400px;
    background-color: #eda342;
    position: absolute;
    top: 500px;
    left: 30px;
    z-index: 100;
    overflow-x: hidden;
}
div.showup_area>img.showup_focus{
    position: absolute;
    margin: 0;
    width: 640px;
    height: 400px;
    z-index: 100;
    top: 0;
    left: 370px;
    opacity: 1;
}
div.showup_area>img.showup_left{
    position: absolute;
    width: 320px;
    height: 200px;
    z-index: 50;
    top: 100px;
    left: 0;
    opacity: 0.7;
}
div.showup_area>img.showup_left:hover{
    cursor: pointer;
}
div.showup_area>img.showup_right{
    position: absolute;
    width: 320px;
    height: 200px;
    z-index: 50;
    top: 100px;
    right: 0;
    opacity: 0.7;
}
div.showup_area>img.showup_right:hover{
    cursor: pointer;
}
div.showup_area>img.showup_prepare_left{
    margin: 0;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 25;
    width: 320px;
    height: 200px;
    opacity: 0;
}
div.showup_area>img.showup_prepare_right{
    margin: 0;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 25;
    width: 320px;
    height: 200px;
    opacity: 0;
}
/* the end of the layout setup */